# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pbw
.DS_Store
screenshot_a.png screenshot_d.png
.lock-waf_darwin_build
build
